@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #ffffff;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo {
    letter-spacing: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    color: #000000;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.nav-links a:hover {
    color: #a3a3a3;
    transition: all 0.3s ease;
}

.nav-user {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

.nav-user li {
    list-style: none;
}

.nav-user a {
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.nav-user a:hover {
    color: #a3a3a3;
    transition: all 0.3s ease;
}

.login {
    background-color: #8BCC00;
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}

.login a {
    color: white;
}

.login a:hover {
    color: white;
}

.login:hover {
    background-color: #6b9a05;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px;
    border-radius: 5px;
}

.account {
    display: none;
    cursor: pointer;
}

.account i {
    color: #000000;
}

.toggles {
    display: none;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 10%;
}

@media screen and (max-width:1200px) {
    body {
        overflow-x: hidden;
    }
    .toggles {
        display: flex;
    }
    .nav-user {
        display: none;
    }
    .nav-links {
        position: absolute;
        display: flex;
        right: 0px;
        flex-direction: column;
        top: 9vh;
        background-color: #838383;
        height: 92vh;
        transform: translate(100%);
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-user {
        position: absolute;
    }
    .account {
        display: block;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translate(0%);
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 140px;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 55px;
}


.col-1 h3{
    font-size: 20px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}


.col-1 h1{
    font-size: 40px;
    color: #EBEBEB;
    font-weight: 100;
    line-height: 27px;
    margin-bottom: 35px;
}





.hero {
    width: 100%;
    height: 100vh;
    background-image: url("http://localhost:3001/images/header.png");
    background-size: 104%;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}




#footfetish ,.text-muted {
    margin-left: 50px;
}
.ruda{
    margin-left: 100px;
    color: #8BCC00;
}
#flex-column0{
    margin-left: 50px;
}

#flex-column2{
    margin-left: -50px;
}
#flex-column1{
    margin-left: -50px;
}
#flex-column3{
    margin-left: -50px;
}

.containerr {
    width: 550px;
    background-color: #F0FFF0;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-align: center;
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    padding-top: -20px;
    position: absolute;
}
.button1 {
    background: #1B1C31;
    width:211px;
    border: 12px;
    padding: 20px 10px;
    outline: none;
    color : #fff;
    font-size: 20px;
    cursor: pointer;
margin-left: 100 px;
    z-index: 10000;
    border-radius: 15px;

}
.textt{
    background: #F0FFF0;
    width:291px;
    border: 12px;
    padding: 30px 10px;
    outline: none;
    color : black;
    font-size: 20px;
    cursor: pointer;
    margin-right: 140px;
    z-index: 1000;

}

.Popular_container{
    width: 100%;
    height: 600px;
}
.pop{
    margin-top: 100px;
    text-align: center;
    color: #8BCC00;
}
.seeall{
    text-align: center;
    color: #8BCC00;
    font-size: 22px;
}
.lets{
    text-align: center;
    margin-top: 50px;
}

.lets-cont{
    width: 200px;
    height: 50px;
    background: #1B1C31;
    margin-left: 100px;
    padding-top: 100px;
}
.container-lets{
    width: 100%;
    height: 200px;
    margin-top: 130px;
    background: #FFFFFF;
}
.it-comp{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: absolute;
    width: 240px;
    height: 105px;
    background: #F7F6F6;
    border-radius: 35px;
    font-size: 20px;
    color: #FA8771;
}
.finance{

    margin-left: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: absolute;
    width: 240px;
    height: 105px;
    background: #F7F6F6;
    border-radius: 35px;
    font-size: 20px;
    color: #5AA5FB;
}.media{
    margin-left: 700px;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 10px;

     position: absolute;
     width: 240px;
     height: 105px;
     background: #F7F6F6;
     border-radius: 35px;
     font-size: 20px;
     color: #FC6A97;
 }.engineer{
      margin-left: 1000px;
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       padding: 10px;

       position: absolute;
       width: 240px;
       height: 105px;
       background: #F7F6F6;
       border-radius: 35px;
       font-size: 20px;
       color: #42BB50;
   }
  .message {
      width: 60%;
      height: 90%;
  }

.wallet{
    width: 40%;
    height: 90%;
    margin-right: 20px;
}





.funny{
    margin-top: 100px;
    margin-left: 150px;
}

.tee{
    margin-left: 1000px;
    padding-bottom: 400px;
}

.col-5{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    margin-bottom: 200px;
    margin-right: 100px;
}

.col-5 h2{
    font-size: 40px;
}


.col-5 h3{
    font-size: 20px;
    color: #707070;
    font-weight: 100;


}

.col-5 p{
    font-size: 40px;
    color: #8BCC00;
    font-weight: 100;
    line-height: 27px;
    margin-bottom: 35px;
}
.col-6 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 100px;

}
.row-2{
    display: flex;
justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.btn1 {
    background: #8BCC00;
    width: 211px;
    border: 12px;
    padding: 20px 10px;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 70px;
    z-index: 10000;
    border-radius: 15px;
}