<div class="boxone">

    <img class="jobicon1" width="100px" height="100px" src="images\qonneta.png">
    <p class="labs"> Qonneta Labs</p>
    <img class="users" width="20px" height="20px" src="images\users.png">
    <p class="employees">1-10 employees</p>
    <img  class="active" src="images\active.png">
    <p class="descr">Ethyca is a developer-first company that provides tools to make trust, respect and privacy a native feature of any data-driven system.</p>
    <p class="learn">Learn more</p>

    <div class="appone">

        <p class="time">2 weeks ago</p>
        <p class="jobone">Senior Open Source Software Engineer(Python)</p>
        <div class="salary">
            <p class="realsalary">$140k-$180k</p>
        </div>
        <div class="type">
            <p class="realtype">Based/Remote possible</p>
        </div>
        <img class="star" src="images\staar.png">
        <button class="apply" name="appl" type="button">
            Apply
        </button>

    </div>
    <div class="apptwo">
        <p class="timetwo">2 weeks ago</p>
        <p class="jobtwo">Senior Open Source Frontend Engineer(JS)</p>
        <div class="salarytwo">
            <p class="realsalarytwo">$140k-$180k</p>
        </div>
        <div class="typetwo">
            <p class="realtypetwo">Based/Remote possible</p>
        </div>
        <img class="startwo" src="images\staar.png">
        <button class="applytwo" name="appl" type="button">
            Apply
        </button>

    </div>

</div>